services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command: serve
    ports:
      - "8091:80"
    volumes:
      - ./cache:/var/cache/ntfy
      - ./config:/etc/ntfy
    restart: unless-stopped
